.root {
  position: relative;
  width: 404px;
  height: 152px;
  align-items: flex-start;
  overflow: hidden;
  &__vector {
    position: absolute;
    left: 9.7315%;
    right: 0.5998%;
    top: 82.5%;
    bottom: 17.5%;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    &__icon {
      width: 100%;
      height: 100%;
    }
  }
  &__vector2 {
    position: absolute;
    left: 9.7315%;
    right: 90.2685%;
    top: 82.3789%;
    bottom: 14.5967%;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    &__icon2 {
      width: 100%;
      height: 100%;
    }
  }
  &___115 {
    color: #fbfbfb;
    font-size: 12px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 6.0738%;
    right: 86.551%;
    top: 89.4273%;
    bottom: 3.0226%;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  &__vector3 {
    position: absolute;
    left: 19.6947%;
    right: 80.3053%;
    top: 82.3789%;
    bottom: 14.5967%;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    &__icon3 {
      width: 100%;
      height: 100%;
    }
  }
  &___117 {
    color: #fbfbfb;
    font-size: 12px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 16.269%;
    right: 76.7896%;
    top: 89.4273%;
    bottom: 3.0226%;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  &__vector4 {
    position: absolute;
    left: 29.6579%;
    right: 70.3421%;
    top: 82.3789%;
    bottom: 14.5967%;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    &__icon4 {
      width: 100%;
      height: 100%;
    }
  }
  &___120 {
    color: #fbfbfb;
    font-size: 12px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 25.8135%;
    right: 66.3774%;
    top: 89.4273%;
    bottom: 3.0226%;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  &__vector5 {
    position: absolute;
    left: 39.3443%;
    right: 60.6557%;
    top: 82.677%;
    bottom: 14.5966%;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    &__icon5 {
      width: 100%;
      height: 100%;
    }
  }
  &___123 {
    color: #fbfbfb;
    font-size: 12px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 35.3579%;
    right: 57.0499%;
    top: 89.4273%;
    bottom: 3.0227%;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  &__vector6 {
    position: absolute;
    left: 49.5843%;
    right: 50.4157%;
    top: 82.3789%;
    bottom: 14.5967%;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    &__icon6 {
      width: 100%;
      height: 100%;
    }
  }
  &___125 {
    color: #fbfbfb;
    font-size: 12px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 45.987%;
    right: 46.6377%;
    top: 89.4273%;
    bottom: 3.0226%;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  &__vector7 {
    position: absolute;
    left: 59.5475%;
    right: 40.4525%;
    top: 82.3789%;
    bottom: 14.5967%;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    &__icon7 {
      width: 100%;
      height: 100%;
    }
  }
  &___25 {
    color: #fbfbfb;
    font-size: 12px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 55.5314%;
    right: 36.4425%;
    top: 89.4273%;
    bottom: 3.0226%;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  &__vector8 {
    position: absolute;
    left: 69.5106%;
    right: 30.4894%;
    top: 82.3789%;
    bottom: 14.5967%;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    &__icon8 {
      width: 100%;
      height: 100%;
    }
  }
  &___28 {
    color: #fbfbfb;
    font-size: 12px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 65.2928%;
    right: 26.6811%;
    top: 89.4273%;
    bottom: 3.0226%;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  &__vector9 {
    position: absolute;
    left: 79.4738%;
    right: 20.5262%;
    top: 82.3789%;
    bottom: 14.5967%;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    &__icon9 {
      width: 100%;
      height: 100%;
    }
  }
  &___210 {
    color: #fbfbfb;
    font-size: 12px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 75.0543%;
    right: 17.7874%;
    top: 89.3627%;
    bottom: 3.0873%;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  &__vector10 {
    position: absolute;
    left: 89.437%;
    right: 10.563%;
    top: 82.3789%;
    bottom: 14.5967%;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    &__icon10 {
      width: 100%;
      height: 100%;
    }
  }
  &___215 {
    color: #fbfbfb;
    font-size: 12px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 86.1172%;
    right: 6.9414%;
    top: 89.3627%;
    bottom: 3.0873%;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  &__group {
    position: absolute;
    left: 401.5768px;
    top: 125.2159px;
    width: 1px;
    max-width: 100%;
    height: 4.5972px;
    max-height: 100%;
    overflow: visible;
    &__icon11 {
      width: 100%;
      height: 100%;
    }
  }
  &__vector11 {
    position: absolute;
    left: 9.7305%;
    right: 0.7485%;
    top: 16.26%;
    bottom: 17.58%;
    overflow: visible;
    filter: drop-shadow(0px 0px 10.117300987243652px #fff) drop-shadow(0px 0px 20.234601974487305px #fff)
      drop-shadow(0px 0px 70.82110595703125px #fff) drop-shadow(0px 0px 141.6422119140625px #fff)
      drop-shadow(0px 0px 242.81521606445312px #fff) drop-shadow(0px 0px 424.9266357421875px #fff);
    &__icon12 {
      width: 100%;
      height: 100%;
    }
  }
  &___2 {
    color: #df2222;
    font-size: 12px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 277.0001px;
    top: 103px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  &__vector12 {
    position: absolute;
    left: 93.8628%;
    right: 3.1913%;
    top: 82.5175%;
    bottom: 17.4825%;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    &__icon15 {
      width: 100%;
      height: 100%;
    }
  }
  &__unnamed {
    color: #fbfbfb;
    font-size: 12px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 96.0289%;
    right: 0.0433%;
    top: 79.021%;
    bottom: 13.7252%;
    text-align: end;
    align-items: end;
    flex-direction: column;
  }
  &__vector13 {
    position: absolute;
    left: 93.8628%;
    right: 3.1913%;
    top: 63.6364%;
    bottom: 36.3636%;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    &__icon16 {
      width: 100%;
      height: 100%;
    }
  }
  &___4 {
    color: #fbfbfb;
    font-size: 12px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 96.0866%;
    right: -0.0144%;
    top: 59.8482%;
    bottom: 32.898%;
    text-align: end;
    align-items: end;
    flex-direction: column;
  }
  &__vector14 {
    position: absolute;
    left: 93.8628%;
    right: 3.1913%;
    top: 44.7552%;
    bottom: 55.2448%;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    &__icon17 {
      width: 100%;
      height: 100%;
    }
  }
  &___8 {
    color: #fbfbfb;
    font-size: 12px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 96.0866%;
    right: -0.0144%;
    top: 40.5045%;
    bottom: 52.2416%;
    text-align: end;
    align-items: end;
    flex-direction: column;
  }
  &__vector15 {
    position: absolute;
    left: 92.5993%;
    right: 3.9711%;
    top: 24.9039%;
    bottom: 75.0961%;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    &__icon18 {
      width: 100%;
      height: 100%;
    }
  }
  &___12 {
    color: #fbfbfb;
    font-size: 12px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 93.6318%;
    right: -0.0144%;
    top: 21.1609%;
    bottom: 71.5852%;
    text-align: end;
    align-items: end;
    flex-direction: column;
  }
  &__vector16 {
    position: absolute;
    left: 93.6823%;
    right: 3.3718%;
    top: 5.5944%;
    bottom: 94.4056%;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    &__icon19 {
      width: 100%;
      height: 100%;
    }
  }
  &___16 {
    color: #fbfbfb;
    font-size: 12px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 93.1408%;
    right: -0.0144%;
    top: 3.8462%;
    bottom: 88.9%;
    text-align: end;
    align-items: end;
    flex-direction: column;
  }
}
.group2 {
  position: absolute;
  left: 414.7504px;
  top: 7.3887px;
  width: 1px;
  max-width: 100%;
  height: 117.6091px;
  max-height: 100%;
  overflow: visible;
  &__icon13 {
    width: 100%;
    height: 100%;
  }
}
.line5 {
  position: absolute;
  left: 9.1803%;
  right: 5.1625%;
  top: 55.5556%;
  bottom: 44.2454%;
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
  filter: blur(2px);
  &__icon14 {
    width: 100%;
    height: 100%;
  }
}
._65 {
  color: #ec1111;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 95.297%;
  right: 0.3646%;
  top: 50.6579%;
  bottom: 44.0558%;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
._42 {
  opacity: 0.55;
  color: #e73636;
  font-size: 11px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 189px;
  top: 90px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._13 {
  color: #de2929;
  font-size: 11px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 113px;
  top: 21px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._9 {
  color: #df2222;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 234px;
  top: 49px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._3 {
  color: #dd1c1c;
  font-size: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 315px;
  top: 152px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._82 {
  color: #e34242;
  font-size: 11px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 303px;
  top: 57px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._132 {
  color: #d72e2e;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 484px;
  top: 49px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._11 {
  color: #e13b3b;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 537px;
  top: 77px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._32 {
  color: #df1313;
  font-size: 11px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 276px;
  top: 111px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.jamesHardenPHISG {
  position: absolute;
  left: 160px;
  top: 0;
  width: 137px;
  height: 27px;
  justify-content: flex-end;
  flex-direction: column;
  &__textBlock {
    color: #b12626;
    font-size: 12px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
  }
  &__textBlock2 {
    margin-top: 0;
    color: #b12626;
    font-size: 12px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
  }
}
.bettingLine {
  position: absolute;
  left: 5px;
  top: 9px;
  width: 60px;
  height: 50px;
  align-items: flex-start;
  border-radius: 20px;
  background-color: #1a1a1a;
  overflow: hidden;
  &__overUnder {
    position: absolute;
    left: 10px;
    top: 7px;
    width: min-content;
    height: min-content;
    text-align: end;
    align-items: end;
    white-space: nowrap;
    flex-direction: column;
    &__labelWrapper {
      font-size: 6.5px;
      font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      flex-shrink: 1;
      &__label {
        color: #d43c3c;
        font-size: 6.5px;
        font-weight: bold;
        font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
          'Liberation Sans', sans-serif;
      }
      &__label2 {
        color: #29b226;
        font-size: 6.5px;
        font-weight: bold;
        font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
          'Liberation Sans', sans-serif;
      }
      &__label3 {
        color: #26a2b2;
        font-size: 6.5px;
        font-weight: bold;
        font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
          'Liberation Sans', sans-serif;
      }
    }
  }
  &___165 {
    color: #fdfdfd;
    font-size: 12px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 17px;
    top: 15px;
    width: min-content;
    height: min-content;
    text-align: end;
    align-items: end;
    white-space: nowrap;
    flex-direction: column;
  }
  &__pts {
    color: #545454;
    font-size: 14px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 18px;
    top: 30px;
    width: min-content;
    height: min-content;
    text-align: end;
    align-items: end;
    white-space: nowrap;
    flex-direction: column;
  }
}
