.component7Default {
  &#{&} {
    left: -10px;
    top: 0;
  }
}
.icon {
  &#{&} {
    width: 100%;
    height: 100%;
  }
}
.icon2 {
  &#{&} {
    width: 100%;
    height: 100%;
  }
}
.component7Variant3 {
  &#{&} {
    left: -10px;
    top: 389px;
  }
}
.icon3 {
  &#{&} {
    width: 100%;
    height: 100%;
  }
}
.component7Variant32 {
  &#{&} {
    left: -11px;
    top: 577px;
  }
}
.icon4 {
  &#{&} {
    width: 100%;
    height: 100%;
  }
}
.component7Variant33 {
  &#{&} {
    left: -19px;
    top: 770px;
  }
}
.icon5 {
  &#{&} {
    width: 100%;
    height: 100%;
  }
}
.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
  outline: solid 3px #000;
  border-radius: 20px;
  background-color: #000;
  overflow-x: auto;
  overflow-y: hidden;
  &__rectangle32 {
    position: absolute;
    left: 116px;
    top: 125.1746px;
    width: 88.0435px;
    height: 27.9112px;
    overflow: visible;
    &__icon7 {
      width: 100%;
      height: 100%;
    }
  }
  &__rectangle33 {
    position: absolute;
    left: 213px;
    top: 125.1746px;
    width: 92px;
    height: 28.1904px;
    overflow: visible;
    &__icon8 {
      width: 100%;
      height: 100%;
    }
  }
  &__passingYrds {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 111px;
    top: 131.0476px;
    width: 86px;
    height: 17.619px;
    text-align: end;
    align-items: end;
    flex-direction: column;
  }
  &__passingTds {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 209px;
    top: 131px;
    width: 83.3478px;
    height: 17.4445px;
    text-align: end;
    align-items: end;
    flex-direction: column;
  }
  &__rectangle34 {
    position: absolute;
    left: 450px;
    top: 124px;
    width: 104px;
    height: 28.1904px;
    overflow: visible;
    &__icon9 {
      width: 100%;
      height: 100%;
    }
  }
  &__rectangle35 {
    position: absolute;
    left: 554px;
    top: 125.1746px;
    width: 84px;
    height: 27.0158px;
    overflow: visible;
    &__icon10 {
      width: 100%;
      height: 100%;
    }
  }
  &__rectangle36 {
    position: absolute;
    left: -4px;
    top: 156px;
    width: 98.6087px;
    height: 27.9112px;
    overflow: visible;
    &__icon11 {
      width: 100%;
      height: 100%;
    }
  }
  &__rectangle37 {
    position: absolute;
    left: 97px;
    top: 158px;
    width: 107px;
    height: 27.0158px;
    overflow: visible;
    &__icon12 {
      width: 100%;
      height: 100%;
    }
  }
  &__rushingYrds {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 454px;
    top: 129.873px;
    width: 86px;
    height: 17.619px;
    text-align: end;
    align-items: end;
    flex-direction: column;
  }
  &__rushingTds {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 556px;
    top: 127.5238px;
    width: 77px;
    height: 17.619px;
    text-align: end;
    align-items: end;
    flex-direction: column;
  }
  &__recevingYrds {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: -7px;
    top: 163px;
    width: 97px;
    height: 17.619px;
    text-align: end;
    align-items: end;
    flex-direction: column;
  }
  &__receptionTds {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 95px;
    top: 164px;
    width: 96.2609px;
    height: 17.4445px;
    text-align: end;
    align-items: end;
    flex-direction: column;
  }
  &__rectangle38 {
    position: absolute;
    left: 211.5px;
    top: 159px;
    width: 97.4348px;
    height: 27.9112px;
    overflow: visible;
    &__icon13 {
      width: 100%;
      height: 100%;
    }
  }
  &__rectangle39 {
    position: absolute;
    left: 313.4565px;
    top: 161px;
    width: 115.0435px;
    height: 27.9112px;
    overflow: visible;
    &__icon14 {
      width: 100%;
      height: 100%;
    }
  }
  &__rectangle40 {
    position: absolute;
    left: -7px;
    top: 125.1746px;
    width: 113px;
    height: 28.1904px;
    overflow: visible;
    &__icon15 {
      width: 100%;
      height: 100%;
    }
  }
  &__rectangle41 {
    position: absolute;
    left: 433px;
    top: 162px;
    width: 56px;
    height: 28.1904px;
    overflow: visible;
    &__icon16 {
      width: 100%;
      height: 100%;
    }
  }
  &__rectangle42 {
    position: absolute;
    left: 308px;
    top: 124px;
    width: 137px;
    height: 28.1904px;
    overflow: visible;
    &__icon17 {
      width: 100%;
      height: 100%;
    }
  }
  &__rectangle43 {
    position: absolute;
    left: 490.0124px;
    top: 161px;
    width: 76.4718px;
    height: 29.6876px;
    overflow: visible;
    &__icon18 {
      width: 100%;
      height: 100%;
    }
  }
  &__receptions {
    color: #fbfbfb;
    font-size: 12px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 213px;
    top: 166px;
    width: 78.6522px;
    height: 17.4445px;
    text-align: end;
    align-items: end;
    flex-direction: column;
  }
  &__interceptions {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 318px;
    top: 165px;
    width: 92.7391px;
    height: 17.4445px;
    text-align: end;
    align-items: end;
    flex-direction: column;
  }
  &__sacks {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 438px;
    top: 168px;
    width: 42.2609px;
    height: 17.4445px;
    text-align: end;
    align-items: end;
    flex-direction: column;
  }
  &__passAttempts {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: -8px;
    top: 129.873px;
    width: 100.9565px;
    height: 17.4445px;
    text-align: end;
    align-items: end;
    flex-direction: column;
  }
  &__rushingAttempts {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 304px;
    top: 129.873px;
    width: 124.4348px;
    height: 17.4445px;
    text-align: end;
    align-items: end;
    flex-direction: column;
  }
  &__tackles {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 494px;
    top: 169px;
    width: 54px;
    height: 17.4445px;
    text-align: end;
    align-items: end;
    flex-direction: column;
  }
}
.frame33 {
  position: absolute;
  left: 4px;
  top: 217px;
  width: 427px;
  height: 743px;
  align-items: flex-start;
  outline: solid 1px #000;
  border-radius: 20px;
  background-color: #000;
  overflow-y: auto;
  overflow-x: hidden;
}
.ellipse3 {
  position: absolute;
  left: -10px;
  top: -10px;
  width: 79px;
  height: 74px;
  overflow: visible;
  &__icon6 {
    width: 100%;
    height: 100%;
  }
}
.gamesAndTimes {
  position: absolute;
  left: 4px;
  top: 64px;
  width: 574px;
  height: 50px;
  align-items: flex-start;
  overflow-x: auto;
  &__frame26 {
    position: absolute;
    left: -9px;
    top: -8px;
    width: 574px;
    height: 50px;
    align-items: flex-start;
    overflow-x: auto;
    &__rectangle28 {
      opacity: 0.2;
      position: absolute;
      left: 117.9132px;
      top: 0;
      width: 89.1781px;
      height: 49.8872px;
      outline: solid 1px #0000;
      outline-offset: -1px;
      border-radius: 20px;
      background-color: #551f1f;
      box-shadow: 0px 0px 9.81px 0px #a6a6a6, 0px 0px 19.62px 0px #a6a6a6, 0px 0px 68.67px 0px #a6a6a6,
        0px 0px 137.34px 0px #a6a6a6, 0px 0px 235.44px 0px #a6a6a6, 0px 0px 412.02px 0px #a6a6a6;
    }
    &__mINVCHI {
      color: #656565;
      font-size: 14px;
      font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      position: absolute;
      left: 129.4677px;
      top: 10.3455px;
      width: 72.6613px;
      height: 12.6202px;
      text-shadow: 0px 0px 11.880000114440918px #656565, 0px 0px 23.760000228881836px #656565,
        0px 0px 83.16000366210938px #656565, 0px 0px 166.32000732421875px #656565, 0px 0px 285.1199951171875px #656565,
        0px 0px 498.9599914550781px #656565;
      flex-direction: column;
    }
    &__rectangle282 {
      opacity: 0.2;
      position: absolute;
      left: 0;
      top: 0;
      width: 89.1781px;
      height: 49.8872px;
      outline: solid 1px #0000;
      outline-offset: -1px;
      border-radius: 20px;
      background-color: #551f1f;
      box-shadow: 0px 0px 9.81px 0px #a3a3a3, 0px 0px 19.62px 0px #a3a3a3, 0px 0px 68.67px 0px #a3a3a3,
        0px 0px 137.34px 0px #a3a3a3, 0px 0px 235.44px 0px #a3a3a3, 0px 0px 412.02px 0px #a3a3a3;
    }
    &__frame4 {
      position: absolute;
      left: 8.9162px;
      top: 6.9036px;
      width: 20px;
      height: 24.0931px;
      padding: 10px;
    }
    &__sun10pm {
      color: #656565;
      font-size: 10px;
      font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      position: absolute;
      left: 14.863px;
      top: 27.5847px;
      width: 58.4612px;
      height: 12.3251px;
      text-shadow: 0px 0px 11.880000114440918px #656565, 0px 0px 23.760000228881836px #656565,
        0px 0px 83.16000366210938px #656565, 0px 0px 166.32000732421875px #656565, 0px 0px 285.1199951171875px #656565,
        0px 0px 498.9599914550781px #656565;
      flex-direction: column;
    }
    &__lAVSE {
      color: #656565;
      font-size: 14px;
      font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      position: absolute;
      left: 14.863px;
      top: 9.9775px;
      width: 56.1474px;
      height: 12.6202px;
      text-shadow: 0px 0px 11.880000114440918px #656565, 0px 0px 23.760000228881836px #656565,
        0px 0px 83.16000366210938px #656565, 0px 0px 166.32000732421875px #656565, 0px 0px 285.1199951171875px #656565,
        0px 0px 498.9599914550781px #656565;
      flex-direction: column;
    }
    &__rectangle283 {
      opacity: 0.2;
      position: absolute;
      left: 452px;
      top: 0;
      width: 90.6973px;
      height: 49.8872px;
      outline: solid 1px #0000;
      outline-offset: -1px;
      border-radius: 20px;
      background-color: #551f1f;
      box-shadow: 0px 0px 9.81px 0px #a3a3a3, 0px 0px 19.62px 0px #a3a3a3, 0px 0px 68.67px 0px #a3a3a3,
        0px 0px 137.34px 0px #a3a3a3, 0px 0px 235.44px 0px #a3a3a3, 0px 0px 412.02px 0px #a3a3a3;
    }
    &__frame42 {
      position: absolute;
      left: 462.0681px;
      top: 10.9036px;
      width: 20.2395px;
      height: 24.0931px;
      padding: 10px;
    }
    &__sun10pm2 {
      color: #656565;
      font-size: 10px;
      font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      position: absolute;
      left: 468.1162px;
      top: 31.5847px;
      width: 59.4571px;
      height: 12.3251px;
      text-shadow: 0px 0px 11.880000114440918px #656565, 0px 0px 23.760000228881836px #656565,
        0px 0px 83.16000366210938px #656565, 0px 0px 166.32000732421875px #656565, 0px 0px 285.1199951171875px #656565,
        0px 0px 498.9599914550781px #656565;
      flex-direction: column;
    }
    &__lAVSE2 {
      color: #656565;
      font-size: 14px;
      font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      position: absolute;
      left: 468.1162px;
      top: 13.9775px;
      width: 57.1039px;
      height: 12.6202px;
      text-shadow: 0px 0px 11.880000114440918px #656565, 0px 0px 23.760000228881836px #656565,
        0px 0px 83.16000366210938px #656565, 0px 0px 166.32000732421875px #656565, 0px 0px 285.1199951171875px #656565,
        0px 0px 498.9599914550781px #656565;
      flex-direction: column;
    }
    &__rectangle284 {
      opacity: 0.2;
      position: absolute;
      left: 231.8629px;
      top: 0;
      width: 89.1781px;
      height: 49.8872px;
      outline: solid 1px #0000;
      outline-offset: -1px;
      border-radius: 20px;
      background-color: #551f1f;
      box-shadow: 0px 0px 9.81px 0px #949494, 0px 0px 19.62px 0px #949494, 0px 0px 68.67px 0px #949494,
        0px 0px 137.34px 0px #949494, 0px 0px 235.44px 0px #949494, 0px 0px 412.02px 0px #949494;
    }
    &__nYGVDAL {
      color: #656565;
      font-size: 14px;
      font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      position: absolute;
      left: 236.8175px;
      top: 9.9773px;
      width: 79.2669px;
      height: 12.6202px;
      text-shadow: 0px 0px 11.880000114440918px #656565, 0px 0px 23.760000228881836px #656565,
        0px 0px 83.16000366210938px #656565, 0px 0px 166.32000732421875px #656565, 0px 0px 285.1199951171875px #656565,
        0px 0px 498.9599914550781px #656565;
      flex-direction: column;
    }
    &__rectangle285 {
      opacity: 0.2;
      position: absolute;
      left: 344.822px;
      top: 0px;
      width: 89.1781px;
      height: 49.8872px;
      outline: solid 1px #0000;
      outline-offset: -1px;
      border-radius: 20px;
      background-color: #551f1f;
      box-shadow: 0px 0px 9.81px 0px #8f8f8f, 0px 0px 19.62px 0px #8f8f8f, 0px 0px 68.67px 0px #8f8f8f,
        0px 0px 137.34px 0px #8f8f8f, 0px 0px 235.44px 0px #8f8f8f, 0px 0px 412.02px 0px #8f8f8f;
    }
    &__nEVNYJ {
      color: #656565;
      font-size: 14px;
      font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      position: absolute;
      left: 355.7214px;
      top: 9.9773px;
      width: 68.018px;
      height: 12.1484px;
      text-shadow: 0px 0px 7.380000114440918px #8f8f8f, 0px 0px 14.760000228881836px #8f8f8f,
        0px 0px 51.65999984741211px #8f8f8f, 0px 0px 103.31999969482422px #8f8f8f, 0px 0px 177.1199951171875px #8f8f8f,
        0px 0px 309.9599914550781px #8f8f8f;
      flex-direction: column;
    }
    &__mon830pm {
      color: #656565;
      font-size: 10px;
      font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      position: absolute;
      left: 355.9668px;
      top: 32.6746px;
      width: 67.379px;
      height: 8.2167px;
      text-shadow: 0px 0px 11.880000114440918px #656565, 0px 0px 23.760000228881836px #656565,
        0px 0px 83.16000366210938px #656565, 0px 0px 166.32000732421875px #656565, 0px 0px 285.1199951171875px #656565,
        0px 0px 498.9599914550781px #656565;
      flex-direction: column;
    }
    &__sun10pm3 {
      color: #656565;
      font-size: 10px;
      font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      position: absolute;
      left: 247.7169px;
      top: 27.5847px;
      width: 66.3881px;
      height: 8.2167px;
      text-shadow: 0px 0px 11.880000114440918px #656565, 0px 0px 23.760000228881836px #656565,
        0px 0px 83.16000366210938px #656565, 0px 0px 166.32000732421875px #656565, 0px 0px 285.1199951171875px #656565,
        0px 0px 498.9599914550781px #656565;
      flex-direction: column;
    }
    &__sun10pm4 {
      color: #656565;
      font-size: 10px;
      font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      position: absolute;
      left: 129.8034px;
      top: 29.3455px;
      width: 59.4521px;
      height: 8.2167px;
      text-shadow: 0px 0px 11.880000114440918px #656565, 0px 0px 23.760000228881836px #656565,
        0px 0px 83.16000366210938px #656565, 0px 0px 166.32000732421875px #656565, 0px 0px 285.1199951171875px #656565,
        0px 0px 498.9599914550781px #656565;
      flex-direction: column;
    }
  }
}
.nFLTrends {
  color: #f3f3f3;
  font-size: 18px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 161px;
  top: 12px;
  width: 99.5793px;
  height: 15.4884px;
  flex-direction: column;
}
.frame7 {
  position: absolute;
  left: 4px;
  bottom: -4px;
  width: 420px;
  height: 49px;
  &__icon19 {
    width: 100%;
    height: 100%;
  }
}
