.rS {
  &#{&} {
    position: absolute;
    left: 0;
    right: 2.4752%;
    top: 2.5907%;
    bottom: 18.6528%;
    width: initial;
    height: initial;
  }
}
.icon {
  &#{&} {
    width: 100%;
    height: 100%;
  }
}
._115 {
  &#{&} {
    color: #fbfbfb;
    font-size: 10px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 6.0738%;
    right: 86.551%;
    top: 89.4273%;
    bottom: 3.0226%;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
}
._117 {
  &#{&} {
    color: #fbfbfb;
    font-size: 10px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 16.269%;
    right: 76.7896%;
    top: 89.4273%;
    bottom: 3.0227%;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
}
._120 {
  &#{&} {
    color: #fbfbfb;
    font-size: 10px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 25.8135%;
    right: 66.3774%;
    top: 89.4273%;
    bottom: 3.0227%;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
}
._123 {
  &#{&} {
    color: #fbfbfb;
    font-size: 10px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 35.3579%;
    right: 57.0499%;
    top: 89.4273%;
    bottom: 3.0227%;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
}
._125 {
  &#{&} {
    color: #fbfbfb;
    font-size: 10px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 45.987%;
    right: 46.6377%;
    top: 89.4273%;
    bottom: 3.0227%;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
}
._25 {
  &#{&} {
    color: #fbfbfb;
    font-size: 10px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 55.5314%;
    right: 36.4425%;
    top: 89.4273%;
    bottom: 3.0227%;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
}
.group {
  &#{&} {
    left: 411.0248px;
  }
}
.icon2 {
  &#{&} {
    width: 100%;
    height: 100%;
  }
}
.group2 {
  &#{&} {
    left: 424.5083px;
  }
}
.icon3 {
  &#{&} {
    width: 100%;
    height: 100%;
  }
}
.icon4 {
  &#{&} {
    width: 100%;
    height: 100%;
  }
}
.icon5 {
  &#{&} {
    width: 100%;
    height: 100%;
  }
}
.icon6 {
  &#{&} {
    width: 100%;
    height: 100%;
  }
}
.icon7 {
  &#{&} {
    width: 100%;
    height: 100%;
  }
}
.icon8 {
  &#{&} {
    width: 100%;
    height: 100%;
  }
}
.bettingLine {
  &#{&} {
    background-color: #000;
  }
}
.root {
  position: absolute;
  left: -9px;
  top: 14px;
  width: 424px;
  height: 193px;
  align-items: flex-start;
  overflow-y: auto;
}
.frame17 {
  position: absolute;
  left: 5.4455%;
  right: 2.7228%;
  top: 81.3472%;
  bottom: 0;
  place-content: center;
  align-items: flex-end;
  gap: 2px;
  padding: 10px 42px 9px 44px;
  border-radius: 20px;
  background-color: #000;
  overflow: hidden;
  &__aLL {
    width: 73px;
    height: 18px;
    place-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #111;
    overflow: hidden;
    box-shadow: 0px 0px 0.558px 0px #bd1414, 0px 0px 1.116px 0px #bd1414, 0px 0px 3.906px 0px #bd1414,
      0px 0px 7.812px 0px #bd1414, 0px 0px 13.392px 0px #bd1414, 0px 0px 23.436px 0px #bd1414;
    &__aLL68 {
      color: #a91313;
      font-size: 12px;
      font-weight: bold;
      font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      width: min-content;
      height: min-content;
      text-align: end;
      align-items: end;
      white-space: nowrap;
      flex-direction: column;
    }
  }
  &__frame11 {
    width: 72px;
    height: 18px;
    place-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #0d0c0c;
    overflow: hidden;
    box-shadow: 0px 0px 0.546px 0px #a81515, 0px 0px 1.092px 0px #a81515, 0px 0px 3.822px 0px #a81515,
      0px 0px 7.644px 0px #a81515, 0px 0px 13.104px 0px #a81515, 0px 0px 22.932px 0px #a81515;
    &__aLL682 {
      color: #971b20;
      font-size: 12px;
      font-weight: bold;
      font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      width: min-content;
      height: min-content;
      text-align: end;
      align-items: end;
      white-space: nowrap;
      flex-direction: column;
    }
  }
  &__frame10 {
    width: 70px;
    height: 18px;
    place-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #0d0c0c;
    overflow: hidden;
    box-shadow: 0px 0px 8.01px 0px #1652a2, 0px 0px 16.02px 0px #1652a2, 0px 0px 56.07px 0px #1652a2,
      0px 0px 112.14px 0px #1652a2, 0px 0px 192.24px 0px #1652a2, 0px 0px 336.42px 0px #1652a2;
    &__l1055 {
      color: #154586;
      font-size: 12px;
      font-weight: bold;
      font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      width: min-content;
      height: min-content;
      text-align: end;
      align-items: end;
      white-space: nowrap;
      flex-direction: column;
    }
  }
  &__frame15 {
    width: 61px;
    height: 18px;
    place-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #0d0c0c;
    overflow: hidden;
    box-shadow: 0px 0px 3.3744px 0px #14407e, 0px 0px 6.7488px 0px #14407e, 0px 0px 23.6208px 0px #14407e,
      0px 0px 47.2416px 0px #14407e, 0px 0px 80.9856px 0px #14407e, 0px 0px 141.7248px 0px #14407e;
    &__l548 {
      color: #154689;
      font-size: 12px;
      font-weight: bold;
      font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      width: min-content;
      height: min-content;
      text-align: end;
      align-items: end;
      white-space: nowrap;
      flex-direction: column;
    }
  }
  &__frame14 {
    width: 57px;
    height: 18px;
    place-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #0d0c0c;
    overflow: hidden;
    box-shadow: 0px 0px 0.396px 0px #ba1717, 0px 0px 0.792px 0px #ba1717, 0px 0px 2.772px 0px #ba1717,
      0px 0px 5.544px 0px #ba1717, 0px 0px 9.504px 0px #ba1717, 0px 0px 16.632px 0px #ba1717;
    &__vs76 {
      color: #af1717;
      font-size: 12px;
      font-weight: bold;
      font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      width: min-content;
      height: min-content;
      text-align: end;
      align-items: end;
      white-space: nowrap;
      flex-direction: column;
    }
  }
}
